$base-padding: .75rem;
$base-margin: 0.75px;
$base-fontsize:0.75rem;

$base-shadow : 1px 3px 5px rgba(0,0,0,0.1);
$base-radius : 3px;
@mixin base-box{
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

@mixin base-image{
    height: 50px;
    width: 50px;
    border-radius:5px;
}





