<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            font-weight: bolder;
            width: 40%;
        }

    </style>
</head>
<body>
    <pre>
    Hello --
    Thankyou for contacting New Angels Senior Secondary School.

    Your requested Fee-Plan for Class --PG-- for session 2024-2025 will be as follows.
        <table>
            <tr>
                <td id="admFee">Admission Fee</td>
                <td id="admAmount"></td>
                <td>One Time</td>
            </tr>
            <tr>
                <td id="annCharges">Annual charges</td>
                <td id="annualAmount"></td>
                <td>One Time</td>
            </tr>
            <tr>
                <td id="tuitionFee">Tuition Fee</td>
                <td id="tuitionAmount"></td>
                <td>Per Month</td>
            </tr>
            <tr>
                <td id="examFee">Exam Fee</td>
                <td id="examAmount"></td>
                <td rowspan="2">For September and for February</td>
            </tr>
        </table>


    For more information.
    check our mailing list at
    https://www.newangelspratapgarh.in/mailing-list
    or
    check our contact numbers
    https://www.newangelspratapgarh.in/contact-us


    Regards.
    New Angels Senior Secondary School.
    </pre>
</body>
</html>