.nav {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.mainNav {
  position: relative fixed;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  color: white;
  cursor: pointer;
}
@media (min-width: 0) {
  .submit-btn {
    width: 70px;
  }
}

.submit-animation {
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
  width: 100%; /* Take the full width of the button */
  height: 100%; /* Take the full height of the button */
}

.submit-btn.posted {
  cursor: default;
}

.submit-icon {
  max-width: 80%; /* Limit the image width */
  max-height: 80%; /* Limit the image height */
  object-fit: contain; /* Maintain aspect ratio */
  transition: transform 2s;
}

.post-done {
  max-width: 80%; /* Limit the image width */
  max-height: 80%; /* Limit the image height */
  object-fit: contain; /* Maintain aspect ratio */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotate 1s linear infinite;
}

.nav-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.menu-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.docs-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.mail-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.applynow {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100px;
}

.messageusonwhatsapp {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 25px;
  width: auto;
  padding: 5px 5px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
}
.messageusonwhatsapp img {
  width: 20px;
  height: auto;
}

li {
  list-style: none;
}

.hamburger {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden;
  box-shadow: 1px 4px 9px;
  cursor: pointer;
  margin-bottom: 5px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hamburger:hover {
  scale: 1.1;
}

.hamburger:active {
  transform: scale(0.9);
  -webkit-tap-highlight-color: transparent;
}

.menu-icon {
  border-radius: 10px;
  height: 30px; /* Adjust as needed */
  width: 30px; /* Adjust as needed */
  object-fit: contain;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.menu-icon:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hamburger:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0.75rem;
  margin: 0.75px auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    width: 8.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-2 {
    width: 16.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-3 {
    width: 25%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-4 {
    width: 33.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-5 {
    width: 41.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-6 {
    width: 50%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-7 {
    width: 58.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-8 {
    width: 66.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-9 {
    width: 75%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-10 {
    width: 83.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-11 {
    width: 91.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xs-12 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .col-xs-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu-container2.open {
    display: flex;
    max-height: 100px;
    opacity: 1;
  }
  .menu-container2 {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 0.5s ease;
  }
  .menu-container1 {
    display: none;
  }
}
@media (min-width: 700px) {
  .col-sm-1 {
    width: 8.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-3 {
    width: 25%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-6 {
    width: 50%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-9 {
    width: 75%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-sm-12 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .col-sm-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hamburger {
    display: none;
  }
  .menu-container2.open {
    display: none;
  }
  .menu-container2 {
    display: none;
  }
  .menu-container1 {
    display: flex;
  }
}
@media (min-width: 900px) {
  .col-md-1 {
    width: 8.3333333333%;
    display: flex;
  }
  .col-md-1 .heading {
    align-items: flex-end;
  }
  .col-md-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-2 {
    width: 16.6666666667%;
    display: flex;
  }
  .col-md-2 .heading {
    align-items: flex-end;
  }
  .col-md-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-3 {
    width: 25%;
    display: flex;
  }
  .col-md-3 .heading {
    align-items: flex-end;
  }
  .col-md-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-4 {
    width: 33.3333333333%;
    display: flex;
  }
  .col-md-4 .heading {
    align-items: flex-end;
  }
  .col-md-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-5 {
    width: 41.6666666667%;
    display: flex;
  }
  .col-md-5 .heading {
    align-items: flex-end;
  }
  .col-md-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-6 {
    width: 50%;
    display: flex;
  }
  .col-md-6 .heading {
    align-items: flex-end;
  }
  .col-md-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-7 {
    width: 58.3333333333%;
    display: flex;
  }
  .col-md-7 .heading {
    align-items: flex-end;
  }
  .col-md-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-8 {
    width: 66.6666666667%;
    display: flex;
  }
  .col-md-8 .heading {
    align-items: flex-end;
  }
  .col-md-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-9 {
    width: 75%;
    display: flex;
  }
  .col-md-9 .heading {
    align-items: flex-end;
  }
  .col-md-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-10 {
    width: 83.3333333333%;
    display: flex;
  }
  .col-md-10 .heading {
    align-items: flex-end;
  }
  .col-md-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-11 {
    width: 91.6666666667%;
    display: flex;
  }
  .col-md-11 .heading {
    align-items: flex-end;
  }
  .col-md-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-md-12 {
    width: 100%;
    display: flex;
  }
  .col-md-12 .heading {
    align-items: flex-end;
  }
  .col-md-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .col-lg-1 {
    width: 8.3333333333%;
    display: flex;
  }
  .col-lg-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    display: flex;
  }
  .col-lg-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-3 {
    width: 25%;
    display: flex;
  }
  .col-lg-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    display: flex;
  }
  .col-lg-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    display: flex;
  }
  .col-lg-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-6 {
    width: 50%;
    display: flex;
  }
  .col-lg-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    display: flex;
  }
  .col-lg-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    display: flex;
  }
  .col-lg-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-9 {
    width: 75%;
    display: flex;
  }
  .col-lg-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    display: flex;
  }
  .col-lg-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    display: flex;
  }
  .col-lg-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-12 {
    width: 100%;
    display: flex;
  }
  .col-lg-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .col-xl-1 {
    width: 8.3333333333%;
    display: flex;
  }
  .col-xl-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    display: flex;
  }
  .col-xl-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-3 {
    width: 25%;
    display: flex;
  }
  .col-xl-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    display: flex;
  }
  .col-xl-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    display: flex;
  }
  .col-xl-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-6 {
    width: 50%;
    display: flex;
  }
  .col-xl-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    display: flex;
  }
  .col-xl-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    display: flex;
  }
  .col-xl-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-9 {
    width: 75%;
    display: flex;
  }
  .col-xl-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    display: flex;
  }
  .col-xl-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    display: flex;
  }
  .col-xl-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xl-12 {
    width: 100%;
    display: flex;
  }
  .col-xl-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .col-xxl-1 {
    width: 8.3333333333%;
    display: flex;
  }
  .col-xxl-1 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    display: flex;
  }
  .col-xxl-2 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-3 {
    width: 25%;
    display: flex;
  }
  .col-xxl-3 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    display: flex;
  }
  .col-xxl-4 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    display: flex;
  }
  .col-xxl-5 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-6 {
    width: 50%;
    display: flex;
  }
  .col-xxl-6 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    display: flex;
  }
  .col-xxl-7 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    display: flex;
  }
  .col-xxl-8 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-9 {
    width: 75%;
    display: flex;
  }
  .col-xxl-9 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    display: flex;
  }
  .col-xxl-10 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    display: flex;
  }
  .col-xxl-11 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-xxl-12 {
    width: 100%;
    display: flex;
  }
  .col-xxl-12 .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
form .card {
  flex-direction: row;
}
@media (min-width: 0) {
  form .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  form .card {
    width: 90%;
  }
}
@media (min-width: 900px) {
  form .card {
    width: 80%;
  }
}
form input {
  width: 100%;
  height: 80%;
  border: 1px solid lightgray; /* Light border */
  color: #333; /* Darker text color */
  padding: 8px; /* Optional: Adds some padding */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  border-radius: 4px; /* Optional: Rounded corners */
}
form input:focus {
  border-color: #204063; /* Change border color on focus, optional */
  outline: none; /* Remove default outline */
}
form textarea {
  width: 100%;
}
@media (min-width: 0) {
  form textarea {
    height: 50px;
  }
}
@media (min-width: 700px) {
  form textarea {
    height: 100px;
  }
}
.form.card {
  font-family: Verdana;
  width: 100%;
}
@media (min-width: 0) {
  .form.card {
    height: 60px;
  }
}
@media (min-width: 700px) {
  .form.card {
    height: 80px;
  }
}

.pr-0 > * {
  padding-right: 0;
}

.pr-0 {
  margin-right: 0;
}

.pl-0 > * {
  padding-left: 0;
}

.pl-0 {
  margin-left: 0;
}

.mr-0 > * {
  margin-right: 0;
}

.ml-0 > * {
  margin-left: 0;
}

.pt-0 > * {
  padding-top: 0;
}

.pb-0 > * {
  padding-bottom: 0;
}

.mt-0 > * {
  margin-top: 0;
}

.mb-0 > * {
  margin-bottom: 0;
}

.pr-1 > * {
  padding-right: 5px;
}

.pr-1 {
  margin-right: -5px;
}

.pl-1 > * {
  padding-left: 5px;
}

.pl-1 {
  margin-left: -5px;
}

.mr-1 > * {
  margin-right: 5px;
}

.ml-1 > * {
  margin-left: 5px;
}

.pt-1 > * {
  padding-top: 5px;
}

.pb-1 > * {
  padding-bottom: 5px;
}

.mt-1 > * {
  margin-top: 5px;
}

.mb-1 > * {
  margin-bottom: 5px;
}

.pr-2 > * {
  padding-right: 10px;
}

.pr-2 {
  margin-right: -10px;
}

.pl-2 > * {
  padding-left: 10px;
}

.pl-2 {
  margin-left: -10px;
}

.mr-2 > * {
  margin-right: 10px;
}

.ml-2 > * {
  margin-left: 10px;
}

.pt-2 > * {
  padding-top: 10px;
}

.pb-2 > * {
  padding-bottom: 10px;
}

.mt-2 > * {
  margin-top: 10px;
}

.mb-2 > * {
  margin-bottom: 10px;
}

.pr-3 > * {
  padding-right: 15px;
}

.pr-3 {
  margin-right: -15px;
}

.pl-3 > * {
  padding-left: 15px;
}

.pl-3 {
  margin-left: -15px;
}

.mr-3 > * {
  margin-right: 15px;
}

.ml-3 > * {
  margin-left: 15px;
}

.pt-3 > * {
  padding-top: 15px;
}

.pb-3 > * {
  padding-bottom: 15px;
}

.mt-3 > * {
  margin-top: 15px;
}

.mb-3 > * {
  margin-bottom: 15px;
}

.pr-4 > * {
  padding-right: 20px;
}

.pr-4 {
  margin-right: -20px;
}

.pl-4 > * {
  padding-left: 20px;
}

.pl-4 {
  margin-left: -20px;
}

.mr-4 > * {
  margin-right: 20px;
}

.ml-4 > * {
  margin-left: 20px;
}

.pt-4 > * {
  padding-top: 20px;
}

.pb-4 > * {
  padding-bottom: 20px;
}

.mt-4 > * {
  margin-top: 20px;
}

.mb-4 > * {
  margin-bottom: 20px;
}

.pr-5 > * {
  padding-right: 25px;
}

.pr-5 {
  margin-right: -25px;
}

.pl-5 > * {
  padding-left: 25px;
}

.pl-5 {
  margin-left: -25px;
}

.mr-5 > * {
  margin-right: 25px;
}

.ml-5 > * {
  margin-left: 25px;
}

.pt-5 > * {
  padding-top: 25px;
}

.pb-5 > * {
  padding-bottom: 25px;
}

.mt-5 > * {
  margin-top: 25px;
}

.mb-5 > * {
  margin-bottom: 25px;
}

.dbg-brown-1 {
  color: rgb(246, 233.7, 233.7);
  background-color: rgb(3.8, 3.8, 14.3);
}

.lbg-brown-1 {
  background-color: rgb(246, 233.7, 233.7);
  color: rgb(3.8, 3.8, 14.3);
}

.dbg-brown-2 {
  color: rgb(237, 212.4, 212.4);
  background-color: rgb(7.6, 7.6, 28.6);
}

.lbg-brown-2 {
  background-color: rgb(237, 212.4, 212.4);
  color: rgb(7.6, 7.6, 28.6);
}

.dbg-brown-3 {
  color: rgb(228, 191.1, 191.1);
  background-color: rgb(11.4, 11.4, 42.9);
}

.lbg-brown-3 {
  background-color: rgb(228, 191.1, 191.1);
  color: rgb(11.4, 11.4, 42.9);
}

.dbg-brown-4 {
  color: rgb(219, 169.8, 169.8);
  background-color: rgb(15.2, 15.2, 57.2);
}

.lbg-brown-4 {
  background-color: rgb(219, 169.8, 169.8);
  color: rgb(15.2, 15.2, 57.2);
}

.dbg-brown-5 {
  color: rgb(210, 148.5, 148.5);
  background-color: rgb(19, 19, 71.5);
}

.lbg-brown-5 {
  background-color: rgb(210, 148.5, 148.5);
  color: rgb(19, 19, 71.5);
}

.dbg-brown-6 {
  color: rgb(201, 127.2, 127.2);
  background-color: rgb(22.8, 22.8, 85.8);
}

.lbg-brown-6 {
  background-color: rgb(201, 127.2, 127.2);
  color: rgb(22.8, 22.8, 85.8);
}

.dbg-brown-7 {
  color: rgb(192, 105.9, 105.9);
  background-color: rgb(26.6, 26.6, 100.1);
}

.lbg-brown-7 {
  background-color: rgb(192, 105.9, 105.9);
  color: rgb(26.6, 26.6, 100.1);
}

.dbg-brown-8 {
  color: rgb(183, 84.6, 84.6);
  background-color: rgb(30.4, 30.4, 114.4);
}

.lbg-brown-8 {
  background-color: rgb(183, 84.6, 84.6);
  color: rgb(30.4, 30.4, 114.4);
}

.dbg-brown-9 {
  color: rgb(174, 63.3, 63.3);
  background-color: rgb(34.2, 34.2, 128.7);
}

.lbg-brown-9 {
  background-color: rgb(174, 63.3, 63.3);
  color: rgb(34.2, 34.2, 128.7);
}

.dbg-brown-10 {
  color: brown;
  background-color: #26268f;
}

.lbg-brown-10 {
  background-color: brown;
  color: #26268f;
}

.dbg-charcoal-1 {
  color: rgb(234.9, 234.5, 234.5);
  background-color: rgb(8.2, 18.5, 18.5);
}

.lbg-charcoal-1 {
  background-color: rgb(234.9, 234.5, 234.5);
  color: rgb(8.2, 18.5, 18.5);
}

.dbg-charcoal-2 {
  color: rgb(214.8, 214, 214);
  background-color: rgb(16.4, 37, 37);
}

.lbg-charcoal-2 {
  background-color: rgb(214.8, 214, 214);
  color: rgb(16.4, 37, 37);
}

.dbg-charcoal-3 {
  color: rgb(194.7, 193.5, 193.5);
  background-color: rgb(24.6, 55.5, 55.5);
}

.lbg-charcoal-3 {
  background-color: rgb(194.7, 193.5, 193.5);
  color: rgb(24.6, 55.5, 55.5);
}

.dbg-charcoal-4 {
  color: rgb(174.6, 173, 173);
  background-color: rgb(32.8, 74, 74);
}

.lbg-charcoal-4 {
  background-color: rgb(174.6, 173, 173);
  color: rgb(32.8, 74, 74);
}

.dbg-charcoal-5 {
  color: rgb(154.5, 152.5, 152.5);
  background-color: rgb(41, 92.5, 92.5);
}

.lbg-charcoal-5 {
  background-color: rgb(154.5, 152.5, 152.5);
  color: rgb(41, 92.5, 92.5);
}

.dbg-charcoal-6 {
  color: rgb(134.4, 132, 132);
  background-color: rgb(49.2, 111, 111);
}

.lbg-charcoal-6 {
  background-color: rgb(134.4, 132, 132);
  color: rgb(49.2, 111, 111);
}

.dbg-charcoal-7 {
  color: rgb(114.3, 111.5, 111.5);
  background-color: rgb(57.4, 129.5, 129.5);
}

.lbg-charcoal-7 {
  background-color: rgb(114.3, 111.5, 111.5);
  color: rgb(57.4, 129.5, 129.5);
}

.dbg-charcoal-8 {
  color: rgb(94.2, 91, 91);
  background-color: rgb(65.6, 148, 148);
}

.lbg-charcoal-8 {
  background-color: rgb(94.2, 91, 91);
  color: rgb(65.6, 148, 148);
}

.dbg-charcoal-9 {
  color: rgb(74.1, 70.5, 70.5);
  background-color: rgb(73.8, 166.5, 166.5);
}

.lbg-charcoal-9 {
  background-color: rgb(74.1, 70.5, 70.5);
  color: rgb(73.8, 166.5, 166.5);
}

.dbg-charcoal-10 {
  color: #363232;
  background-color: #52b9b9;
}

.lbg-charcoal-10 {
  background-color: #363232;
  color: #52b9b9;
}

.dbg-teal-1 {
  color: rgb(229.5, 242.3, 242.3);
  background-color: rgb(25.5, 14.5, 0);
}

.lbg-teal-1 {
  background-color: rgb(229.5, 242.3, 242.3);
  color: rgb(25.5, 14.5, 0);
}

.dbg-teal-2 {
  color: rgb(204, 229.6, 229.6);
  background-color: #331d00;
}

.lbg-teal-2 {
  background-color: rgb(204, 229.6, 229.6);
  color: #331d00;
}

.dbg-teal-3 {
  color: rgb(178.5, 216.9, 216.9);
  background-color: rgb(76.5, 43.5, 0);
}

.lbg-teal-3 {
  background-color: rgb(178.5, 216.9, 216.9);
  color: rgb(76.5, 43.5, 0);
}

.dbg-teal-4 {
  color: rgb(153, 204.2, 204.2);
  background-color: #663a00;
}

.lbg-teal-4 {
  background-color: rgb(153, 204.2, 204.2);
  color: #663a00;
}

.dbg-teal-5 {
  color: rgb(127.5, 191.5, 191.5);
  background-color: rgb(127.5, 72.5, 0);
}

.lbg-teal-5 {
  background-color: rgb(127.5, 191.5, 191.5);
  color: rgb(127.5, 72.5, 0);
}

.dbg-teal-6 {
  color: rgb(102, 178.8, 178.8);
  background-color: #995700;
}

.lbg-teal-6 {
  background-color: rgb(102, 178.8, 178.8);
  color: #995700;
}

.dbg-teal-7 {
  color: rgb(76.5, 166.1, 166.1);
  background-color: rgb(178.5, 101.5, 0);
}

.lbg-teal-7 {
  background-color: rgb(76.5, 166.1, 166.1);
  color: rgb(178.5, 101.5, 0);
}

.dbg-teal-8 {
  color: rgb(51, 153.4, 153.4);
  background-color: #cc7400;
}

.lbg-teal-8 {
  background-color: rgb(51, 153.4, 153.4);
  color: #cc7400;
}

.dbg-teal-9 {
  color: rgb(25.5, 140.7, 140.7);
  background-color: rgb(229.5, 130.5, 0);
}

.lbg-teal-9 {
  background-color: rgb(25.5, 140.7, 140.7);
  color: rgb(229.5, 130.5, 0);
}

.dbg-teal-10 {
  color: teal;
  background-color: #ff9100;
}

.lbg-teal-10 {
  background-color: teal;
  color: #ff9100;
}

.dbg-olive-1 {
  color: rgb(242.3, 242.3, 229.5);
  background-color: rgb(19.2, 19.2, 5);
}

.lbg-olive-1 {
  background-color: rgb(242.3, 242.3, 229.5);
  color: rgb(19.2, 19.2, 5);
}

.dbg-olive-2 {
  color: rgb(229.6, 229.6, 204);
  background-color: rgb(38.4, 38.4, 10);
}

.lbg-olive-2 {
  background-color: rgb(229.6, 229.6, 204);
  color: rgb(38.4, 38.4, 10);
}

.dbg-olive-3 {
  color: rgb(216.9, 216.9, 178.5);
  background-color: rgb(57.6, 57.6, 15);
}

.lbg-olive-3 {
  background-color: rgb(216.9, 216.9, 178.5);
  color: rgb(57.6, 57.6, 15);
}

.dbg-olive-4 {
  color: rgb(204.2, 204.2, 153);
  background-color: rgb(76.8, 76.8, 20);
}

.lbg-olive-4 {
  background-color: rgb(204.2, 204.2, 153);
  color: rgb(76.8, 76.8, 20);
}

.dbg-olive-5 {
  color: rgb(191.5, 191.5, 127.5);
  background-color: #606019;
}

.lbg-olive-5 {
  background-color: rgb(191.5, 191.5, 127.5);
  color: #606019;
}

.dbg-olive-6 {
  color: rgb(178.8, 178.8, 102);
  background-color: rgb(115.2, 115.2, 30);
}

.lbg-olive-6 {
  background-color: rgb(178.8, 178.8, 102);
  color: rgb(115.2, 115.2, 30);
}

.dbg-olive-7 {
  color: rgb(166.1, 166.1, 76.5);
  background-color: rgb(134.4, 134.4, 35);
}

.lbg-olive-7 {
  background-color: rgb(166.1, 166.1, 76.5);
  color: rgb(134.4, 134.4, 35);
}

.dbg-olive-8 {
  color: rgb(153.4, 153.4, 51);
  background-color: rgb(153.6, 153.6, 40);
}

.lbg-olive-8 {
  background-color: rgb(153.4, 153.4, 51);
  color: rgb(153.6, 153.6, 40);
}

.dbg-olive-9 {
  color: rgb(140.7, 140.7, 25.5);
  background-color: rgb(172.8, 172.8, 45);
}

.lbg-olive-9 {
  background-color: rgb(140.7, 140.7, 25.5);
  color: rgb(172.8, 172.8, 45);
}

.dbg-olive-10 {
  color: olive;
  background-color: #c0c032;
}

.lbg-olive-10 {
  background-color: olive;
  color: #c0c032;
}

.dbg-mauve-1 {
  color: rgb(246.3, 242, 242.7);
  background-color: rgb(13.5, 20.9, 14.5);
}

.lbg-mauve-1 {
  background-color: rgb(246.3, 242, 242.7);
  color: rgb(13.5, 20.9, 14.5);
}

.dbg-mauve-2 {
  color: rgb(237.6, 229, 230.4);
  background-color: rgb(27, 41.8, 29);
}

.lbg-mauve-2 {
  background-color: rgb(237.6, 229, 230.4);
  color: rgb(27, 41.8, 29);
}

.dbg-mauve-3 {
  color: rgb(228.9, 216, 218.1);
  background-color: rgb(40.5, 62.7, 43.5);
}

.lbg-mauve-3 {
  background-color: rgb(228.9, 216, 218.1);
  color: rgb(40.5, 62.7, 43.5);
}

.dbg-mauve-4 {
  color: rgb(220.2, 203, 205.8);
  background-color: rgb(54, 83.6, 58);
}

.lbg-mauve-4 {
  background-color: rgb(220.2, 203, 205.8);
  color: rgb(54, 83.6, 58);
}

.dbg-mauve-5 {
  color: rgb(211.5, 190, 193.5);
  background-color: rgb(67.5, 104.5, 72.5);
}

.lbg-mauve-5 {
  background-color: rgb(211.5, 190, 193.5);
  color: rgb(67.5, 104.5, 72.5);
}

.dbg-mauve-6 {
  color: rgb(202.8, 177, 181.2);
  background-color: rgb(81, 125.4, 87);
}

.lbg-mauve-6 {
  background-color: rgb(202.8, 177, 181.2);
  color: rgb(81, 125.4, 87);
}

.dbg-mauve-7 {
  color: rgb(194.1, 164, 168.9);
  background-color: rgb(94.5, 146.3, 101.5);
}

.lbg-mauve-7 {
  background-color: rgb(194.1, 164, 168.9);
  color: rgb(94.5, 146.3, 101.5);
}

.dbg-mauve-8 {
  color: rgb(185.4, 151, 156.6);
  background-color: rgb(108, 167.2, 116);
}

.lbg-mauve-8 {
  background-color: rgb(185.4, 151, 156.6);
  color: rgb(108, 167.2, 116);
}

.dbg-mauve-9 {
  color: rgb(176.7, 138, 144.3);
  background-color: rgb(121.5, 188.1, 130.5);
}

.lbg-mauve-9 {
  background-color: rgb(176.7, 138, 144.3);
  color: rgb(121.5, 188.1, 130.5);
}

.dbg-mauve-10 {
  color: #a87d84;
  background-color: #87d191;
}

.lbg-mauve-10 {
  background-color: #a87d84;
  color: #87d191;
}

.dbg-burgandy-1 {
  color: rgb(238.9, 233.3, 233.3);
  background-color: rgb(0, 12.8, 12.8);
}

.lbg-burgandy-1 {
  background-color: rgb(238.9, 233.3, 233.3);
  color: rgb(0, 12.8, 12.8);
}

.dbg-burgandy-2 {
  color: rgb(222.8, 211.6, 211.6);
  background-color: rgb(0, 25.6, 25.6);
}

.lbg-burgandy-2 {
  background-color: rgb(222.8, 211.6, 211.6);
  color: rgb(0, 25.6, 25.6);
}

.dbg-burgandy-3 {
  color: rgb(206.7, 189.9, 189.9);
  background-color: rgb(0, 38.4, 38.4);
}

.lbg-burgandy-3 {
  background-color: rgb(206.7, 189.9, 189.9);
  color: rgb(0, 38.4, 38.4);
}

.dbg-burgandy-4 {
  color: rgb(190.6, 168.2, 168.2);
  background-color: rgb(0, 51.2, 51.2);
}

.lbg-burgandy-4 {
  background-color: rgb(190.6, 168.2, 168.2);
  color: rgb(0, 51.2, 51.2);
}

.dbg-burgandy-5 {
  color: rgb(174.5, 146.5, 146.5);
  background-color: #004040;
}

.lbg-burgandy-5 {
  background-color: rgb(174.5, 146.5, 146.5);
  color: #004040;
}

.dbg-burgandy-6 {
  color: rgb(158.4, 124.8, 124.8);
  background-color: rgb(0, 76.8, 76.8);
}

.lbg-burgandy-6 {
  background-color: rgb(158.4, 124.8, 124.8);
  color: rgb(0, 76.8, 76.8);
}

.dbg-burgandy-7 {
  color: rgb(142.3, 103.1, 103.1);
  background-color: rgb(0, 89.6, 89.6);
}

.lbg-burgandy-7 {
  background-color: rgb(142.3, 103.1, 103.1);
  color: rgb(0, 89.6, 89.6);
}

.dbg-burgandy-8 {
  color: rgb(126.2, 81.4, 81.4);
  background-color: rgb(0, 102.4, 102.4);
}

.lbg-burgandy-8 {
  background-color: rgb(126.2, 81.4, 81.4);
  color: rgb(0, 102.4, 102.4);
}

.dbg-burgandy-9 {
  color: rgb(110.1, 59.7, 59.7);
  background-color: rgb(0, 115.2, 115.2);
}

.lbg-burgandy-9 {
  background-color: rgb(110.1, 59.7, 59.7);
  color: rgb(0, 115.2, 115.2);
}

.dbg-burgandy-10 {
  color: #5e2626;
  background-color: teal;
}

.lbg-burgandy-10 {
  background-color: #5e2626;
  color: teal;
}

.dbg-purple-1 {
  color: rgb(242.3, 229.5, 242.3);
  background-color: rgb(2, 6.6, 2);
}

.lbg-purple-1 {
  background-color: rgb(242.3, 229.5, 242.3);
  color: rgb(2, 6.6, 2);
}

.dbg-purple-2 {
  color: rgb(229.6, 204, 229.6);
  background-color: rgb(4, 13.2, 4);
}

.lbg-purple-2 {
  background-color: rgb(229.6, 204, 229.6);
  color: rgb(4, 13.2, 4);
}

.dbg-purple-3 {
  color: rgb(216.9, 178.5, 216.9);
  background-color: rgb(6, 19.8, 6);
}

.lbg-purple-3 {
  background-color: rgb(216.9, 178.5, 216.9);
  color: rgb(6, 19.8, 6);
}

.dbg-purple-4 {
  color: rgb(204.2, 153, 204.2);
  background-color: rgb(8, 26.4, 8);
}

.lbg-purple-4 {
  background-color: rgb(204.2, 153, 204.2);
  color: rgb(8, 26.4, 8);
}

.dbg-purple-5 {
  color: rgb(191.5, 127.5, 191.5);
  background-color: #0a210a;
}

.lbg-purple-5 {
  background-color: rgb(191.5, 127.5, 191.5);
  color: #0a210a;
}

.dbg-purple-6 {
  color: rgb(178.8, 102, 178.8);
  background-color: rgb(12, 39.6, 12);
}

.lbg-purple-6 {
  background-color: rgb(178.8, 102, 178.8);
  color: rgb(12, 39.6, 12);
}

.dbg-purple-7 {
  color: rgb(166.1, 76.5, 166.1);
  background-color: rgb(14, 46.2, 14);
}

.lbg-purple-7 {
  background-color: rgb(166.1, 76.5, 166.1);
  color: rgb(14, 46.2, 14);
}

.dbg-purple-8 {
  color: rgb(153.4, 51, 153.4);
  background-color: rgb(16, 52.8, 16);
}

.lbg-purple-8 {
  background-color: rgb(153.4, 51, 153.4);
  color: rgb(16, 52.8, 16);
}

.dbg-purple-9 {
  color: rgb(140.7, 25.5, 140.7);
  background-color: rgb(18, 59.4, 18);
}

.lbg-purple-9 {
  background-color: rgb(140.7, 25.5, 140.7);
  color: rgb(18, 59.4, 18);
}

.dbg-purple-10 {
  color: purple;
  background-color: #144214;
}

.lbg-purple-10 {
  background-color: purple;
  color: #144214;
}

.dbg-navy-1 {
  color: rgb(229.5, 229.5, 242.3);
  background-color: rgb(0, 0, 12.8);
}

.lbg-navy-1 {
  background-color: rgb(229.5, 229.5, 242.3);
  color: rgb(0, 0, 12.8);
}

.dbg-navy-2 {
  color: rgb(204, 204, 229.6);
  background-color: rgb(0, 0, 25.6);
}

.lbg-navy-2 {
  background-color: rgb(204, 204, 229.6);
  color: rgb(0, 0, 25.6);
}

.dbg-navy-3 {
  color: rgb(178.5, 178.5, 216.9);
  background-color: rgb(0, 0, 38.4);
}

.lbg-navy-3 {
  background-color: rgb(178.5, 178.5, 216.9);
  color: rgb(0, 0, 38.4);
}

.dbg-navy-4 {
  color: rgb(153, 153, 204.2);
  background-color: rgb(0, 0, 51.2);
}

.lbg-navy-4 {
  background-color: rgb(153, 153, 204.2);
  color: rgb(0, 0, 51.2);
}

.dbg-navy-5 {
  color: rgb(127.5, 127.5, 191.5);
  background-color: #000040;
}

.lbg-navy-5 {
  background-color: rgb(127.5, 127.5, 191.5);
  color: #000040;
}

.dbg-navy-6 {
  color: rgb(102, 102, 178.8);
  background-color: rgb(0, 0, 76.8);
}

.lbg-navy-6 {
  background-color: rgb(102, 102, 178.8);
  color: rgb(0, 0, 76.8);
}

.dbg-navy-7 {
  color: rgb(76.5, 76.5, 166.1);
  background-color: rgb(0, 0, 89.6);
}

.lbg-navy-7 {
  background-color: rgb(76.5, 76.5, 166.1);
  color: rgb(0, 0, 89.6);
}

.dbg-navy-8 {
  color: rgb(51, 51, 153.4);
  background-color: rgb(0, 0, 102.4);
}

.lbg-navy-8 {
  background-color: rgb(51, 51, 153.4);
  color: rgb(0, 0, 102.4);
}

.dbg-navy-9 {
  color: rgb(25.5, 25.5, 140.7);
  background-color: rgb(0, 0, 115.2);
}

.lbg-navy-9 {
  background-color: rgb(25.5, 25.5, 140.7);
  color: rgb(0, 0, 115.2);
}

.dbg-navy-10 {
  color: navy;
  background-color: navy;
}

.lbg-navy-10 {
  background-color: navy;
  color: navy;
}

.cl-primary {
  color: blue;
}

.bgcl-primary {
  background-color: blue;
}

.cl-info {
  color: rgba(255, 255, 0, 0.548);
}

.bgcl-info {
  background-color: rgba(255, 255, 0, 0.548);
}

.cl-danger {
  color: rgb(105, 34, 34);
}

.bgcl-danger {
  background-color: rgb(105, 34, 34);
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.card .card-title {
  font-weight: 900;
  font-family: "Lato";
  text-decoration: underline;
  text-align: center;
}
@media (min-width: 0) {
  .card .card-title {
    font-size: 15;
  }
}
@media (min-width: 700px) {
  .card .card-title {
    font-size: 30px;
  }
}
.card .socials {
  display: flex;
}
@media (min-width: 0) {
  .card .socials img {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 700px) {
  .card .socials img {
    height: 50px;
    width: 50px;
  }
}
.card .socials a {
  padding: 10px;
}
.card p {
  font-family: "Lato";
  text-decoration: none;
  text-align: center;
}
@media (min-width: 0) {
  .card p {
    font-weight: lighter;
  }
}
@media (min-width: 700px) {
  .card p {
    font-weight: bolder;
  }
}
.card .imagearea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .imgtoppers {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}
.card .photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media (min-width: 0) {
  .card .imagearea.slide {
    height: 300px;
  }
}
@media (min-width: 700px) {
  .card .imagearea.slide {
    height: 500px;
  }
}
@media (min-width: 900px) {
  .card .imagearea.slide {
    height: 600px;
  }
}
@media (min-width: 1000px) {
  .card .imagearea.slide {
    height: 700px;
  }
}

.logo {
  border: 0;
  cursor: pointer;
}
@media (min-width: 0) {
  .logo {
    max-width: 190px;
    max-height: 190px;
  }
}
@media (min-width: 700px) {
  .logo {
    max-width: 285px;
    max-height: 285px;
  }
}
@media (min-width: 900px) {
  .logo {
    max-width: 332.5px;
    max-height: 332.5px;
  }
}
@media (min-width: 1000px) {
  .logo {
    max-width: 351.5px;
    max-height: 332.5px;
  }
}
@media (min-width: 1100px) {
  .logo {
    max-width: 351.5px;
    max-height: 332.5px;
  }
}
@media (min-width: 1200px) {
  .logo {
    max-width: 380px;
    max-height: 332.5px;
  }
}

@media (min-width: 0) {
  .footer img {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 700px) {
  .footer img {
    height: 40px;
    width: 40px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  width: 100%;
  /* Optional */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border-radius: 10px;
  padding: 0;
}

.footer .card p {
  text-decoration: none;
}
@media (min-width: 0) {
  .footer .card p {
    font-size: 10px;
  }
}
@media (min-width: 700px) {
  .footer .card p {
    font-size: 15px;
  }
}

@media (min-width: 0) {
  .footer .copyright p {
    font-size: 8px;
  }
}
@media (min-width: 700px) {
  .footer .copyright p {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
}